<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')  %> 
</head>
<body style="background: #f1c036;">

    <%- include('./partials/navbar') %>


    <div class="container mt-5">
        <h2><%= note.title%></h2>
        <hr>
        <p><%= note.description%></p>
    </div>
    

    <a href="/" class="btn btn-secondary""> back</a>
    

    <%- include('./partials/scripts') %> 
</body>
</html>